@media (max-width: 62em) {
  .content-container {
    width: 57.6em;
    padding-bottom: 0.1rem;
  }
  .page-container {
    padding: 3rem 5rem;
  }

  .broker-img {
    width: 31.2rem;
  }

  .header {
    display: none;
  }

  .mobile-header {
    display: block;
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0.3rem;
    align-items: center;
  }

  .heading-secondary {
    font-size: 3.3rem;
  }

  .logo {
    justify-self: center;
    padding: 1.5rem 0;
  }

  .features-imgs {
    width: 45.6rem;
  }
  .cta-heading {
    width: 45.6rem;
  }
  .info-slider-btn {
    width: 1.75rem;
    height: 1.75rem;
  }
  .features-grid {
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }
  .feature-img-box {
    width: 8.5rem;
    align-self: center;
  }
  .feature {
    padding: 0 5rem;
  }
  .heading-tert {
    font-size: 2.2rem;
  }
  .feature-text-info {
    font-size: 1.4rem;
  }
  .signup-btn {
    font-size: 3.4rem;
    border-radius: 1rem;
    text-align: center;
    padding: 1rem 2rem;
  }
  .signup-div-box {
    height: 6.9rem;
  }
  .company-about-policy {
    text-align: center;
  }
}
