/**************************/
/*  Breakpoint < 992 pixels 
    (62em * 16 = 992 pixels) 
       Tablet Version     */
/**************************/

@media (max-width: 62em) {
  .content-container {
    width: 57.6em;
    padding-bottom: 0.1rem;
  }
  .page-container {
    padding: 3rem 5rem;
  }

  .broker-img {
    width: 31.2rem;
  }

  .header {
    display: none;
  }

  .mobile-header {
    display: block;
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0.3rem;
    align-items: center;
  }

  .heading-secondary {
    font-size: 3.3rem;
  }

  .logo {
    justify-self: center;
    width: 12rem;
    padding: 1.5rem 0;
  }

  .btn-desktop-icon {
    align-self: center;
  }

  .mobile-open-nav .btn-desktop-icon {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .mobile-open-nav .features-imgs {
    width: 45.6rem;
  }
  .cta-heading {
    width: 45.6rem;
  }
  .info-slider-btn {
    width: 1.75rem;
    height: 1.75rem;
  }
  .features-grid {
    grid-template-columns: 1fr;
    row-gap: 1.5rem;
  }
  .feature-img-box {
    width: 8.5rem;
    align-self: center;
  }

  .feature:last-child {
    width: 100%;
    padding: 0 0;
  }

  .heading-tert {
    font-size: 2.2rem;
  }
  .feature-text-info {
    font-size: 1.4rem;
    line-height: 1.3;
  }
  .signup-btn {
    font-size: 3.4rem;
    border-radius: 1rem;
    text-align: center;
    padding: 1rem 2rem;
    width: max-content;
  }
  .signup-div-box {
    height: 6.9rem;
  }
  .company-about-policy {
    text-align: center;
  }
}

/**************************/
/*  Breakpoint < 577 pixels 
    (36em * 16 = 576 pixels) 
       Mobile Version     */
/**************************/

@media (max-width: 36em) {
  .layout {
    width: 100%;
    min-height: 100vh;
  }

  .mobile-header {
    width: 100%;
  }

  .mobile-nav-list li {
    font-size: 2rem;
  }

  .content-container {
    width: 100%;
  }

  .page-container {
    padding: 1.5rem 2.5rem;
    width: 100%;
  }

  .page-body {
    padding: 0.5rem;
    height: 100%;
  }

  .main-contents {
    width: 100%;
    gap: 1rem;
  }

  .broker-img-box {
    width: 100%;
  }

  .broker-img {
    width: 65%;
  }

  .section-how {
    padding-top: 0.5rem;
    width: 100%;
  }

  .heading-secondary {
    font-size: calc(-0.5rem + 7.78125vw);
    margin-bottom: 0.75rem;
  }

  .info-slider-buttons {
    margin: 0.5rem 0;
  }

  .info-slider-btns {
    width: 1.25rem;
    height: 1.25rem;
  }

  .features-section {
    width: 100%;
  }

  .cta-heading {
    width: 100%;
    height: auto;
  }

  .feature {
    width: 100%;
    padding: 0 0;
  }

  .feature-img-box {
    width: calc(1.35rem + 13.28125vw);
    height: auto;
  }

  .heading-tert {
    font-size: calc(-0.3rem + 4.6875vw);
  }

  .feature-text-info {
    font-size: calc(0.25rem + 2.34375vw);
  }

  .footer-container {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 1rem;
  }
  .footer-contents {
    grid-row: -1 / 1;
  }
  .signup-div-box {
    width: 100%;
    height: auto;
  }
  .signup-btn {
    font-size: calc(-0.725rem + 8.203125vw);
    border-radius: 0.8rem;
    border: calc(-0.05rem + 0.78125vw) solid #febd1d;
  }
}
